<div class="center jumbotron"> 
    <h1>Welcome to Flutter!</h1>

    <h2>
       The world's premier no fluff twitter clone
    </h2>

    <%= link_to 'Sign up now!', signup_path, class: "btn btn-lg btn-primary mainbutton" %>
</div>
